    body {
        background-color: black;
    }
    }
    .red” {
        color: #ff0000;
    }
    .blue {
        color: blue;
    }
    .white {
        color: #fefcfc;
    }
    .black {
        color: black;
    }
