h1{
    font-family: "Stardos Stencil", "sans-serif";
    font-style: italic;
    font-weight: bold;
}
body {
   background-color: white;
}
.red {
   color: #ff0000;
}
.blue {
   color: blue;
}
.white {
   color: #fefcfc;
}
.black {
   color: black;
} 
p {
   font-family: "Akaya Kanadaka", "sans-serif";
   font-size: larger;
   text-align: center;
}
.mgm {
  padding: 5px;
}
.mgm table {
  border-color: gold;
  border-style: outset;
  border-radius: 12px;
  border-collapse: collapse;
}
.dg {
  border-color: silver;
  border-style: outset;
  border-radius: 12px;
  padding: 5px;
}
a {
    text-decoration: none;
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio - adjust as needed */
  height: 0;
  overflow: hidden;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 100vh;
}

