body {
   background-color: white;
}
h1 {
    font-family: "Stardos Stencil", "sans-serif";
    font-style: italic;
    font-weight: bold;
}
p {
   font-family: "Akaya Kanadaka", "sans-serif";
   font-size: larger;
}
    .red {
        color: #ff0000;
    }
    .blue {
        color: blue;
    }
    .white {
        color: #fefcfc;
    }
    .black {
        color: black;
    }
.mgm {
  border-color: gold;
  border-style: outset;
  border-radius: 12px;
  padding: 5px;
}
